* {
  font-family: Fjalla One;
  margin: 0;
  border: 0;
  padding: 0;
  color: white;
}
ul {
  list-style: none;
}
html {
  background-color: #000000;
}

table {
  margin: 30px auto;
  border-collapse: collapse;
  border: 1px solid grey;
}

th,
td {
  padding: 10px;
  height: 40px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

th {
  background-color: black;
  color: #ffe221;
}

li {
  padding: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
li:hover {
  background-color: gray;
}

.heading {
  display: block;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffe221;
  margin: 10px;
}

.sasha {
  text-align: center;
  background-color: #4b484a;
  cursor: pointer;
}
.pasha {
  text-align: center;
  background-color: #7e6250;
  cursor: pointer;
}

/* .sasha td {
  color: #77ff21;
}
.pasha td {
  color: #f55ec8;
} */

.www {
  background-color: inherit;
}

table .col {
  border-bottom: 1px solid #ffffff;
}

tr:hover {
  background-color: #77ff21;
}

tr:hover td {
  color: #000000;
}

.group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.winner {
  color: #77ff21;
}
.loser {
  color: red;
}
.draw {
  color: #ffe221;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 15%;
  top: 10%;
  width: 40%;
  /* height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);  */
}

.modal-content {
  background-color: #97dd55;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #fff;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
input {
  padding: 5px;
  margin-bottom: 10px;
  color: #06770c;
  font-size: 18px;
  outline-color: #06770c;
}
form span {
  font-size: 25px;
  color: #000000;
  margin-left: 5px;
  margin-right: 5px;
}
.modal button {
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.modal button:hover {
  color: #06770c;
  border-color: #06770c;
}

.open {
  display: block;
}
.close {
  display: none;
}

.home-box,
.away-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
